body {
    margin: 0;
    background-color: white;
}

#topbar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-top: 35px;
}

#container {
    width: 80%;
    height: 760px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding: 0px;
}

#bottombar {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    padding-bottom: 60px;
}

#logo {
    float: left;
    width: auto;
    margin: 0;
    barkground-color: #fff;
    text-align: left;
    vertical-align: bottom;
    padding: 0px;
}

#menubar {
    float: right;
    width: 70%;
    margin-top: 28px;
    background-color: #fff;
    text-align: right;
    vertical-align: bottom;
    padding: 0px;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
    color: #aaa;
}

#menubar span {
    margin-left: 30px;
}

#photoframe {
    margin: auto;
    margin-top: 40px;
    width: 960px;
    height: 720px;
    background-color: #aaa;
    display: table;
}

#nav-prev {
    width: 60px;
    height: auto;
    color: #ccc;
    background-color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#nav-next {
    width: 60px;
    height: auto;
    color: #ccc;
    background-color: #fff;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

#photos {
    position: relative;
    display: table-cell;
    width: 840px;
    height: auto;
    margin: auto auto;
    background-color: #333;
    vertical-align: middle;
    text-align: center;
}

#photos img {
    border: 0;
}

#description {
    position: absolute;
    bottom: 0;
    left: 70px;
    width: 700px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    color: #ccc;
    background-color: #333;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 14px;
}

hr {
    margin: 0;
    border: 0;
    height: 1px;
    background-color: #333;
}

a:link, a:active, a:visited {
    color: #aaa;
    text-decoration: none;
}    

a:hover {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 10px;
}

li {
    padding: 5px;
}
ul.sub {
    font-size: 12px;
    display: none;
}

li.sub {
    font-family: Arial, Helvetica, sans-serif;
    padding: 1px;
}


em {
    font-size: 18px;
    font-style: normal;

}
